$scrollerGrey: rgb(219,219,219) !default;
$lightGrey: rgb( 227,227,227) !default;
$darkerGrey:  rgb( 200,200,200) !default;
$tmdbDarkBlue:  rgb( 3,37,65) !default;
$tmdbLightBlue: rgb( 1,180,228) !default;
$tmdbLighterGreen: rgb( 192,254,207) !default;
$tmdbLightGreen: rgb( 30,213,169) !default;
$tmdbLogoGreen: rgb( 144,206,161) !default;
$tmdbLogoOrange: rgb( 253,193,112) !default;
$tmdbLogoRed: rgb( 217,59,99) !default;
$accountSilver: rgb( 149,149,149) !default;
$accountPink: rgb( 234,20,140) !default;
$accountPurple: rgb( 128,91,231) !default;
$accountGreen: rgb( 1,210,119) !default;
$accountTeal: rgb( 1,198,172) !default;
$accountLightBlue: rgb( 1,180,228) !default;
$accountBlue: rgb( 1,119,210) !default;
$accountOrange: rgb( 210,119,1) !default;
$accountYellow: rgb( 210,144,1) !default;
$accountRed: rgb( 212,2,66) !default;
$imageBorderRadius: 8px !default;
$tmdbWhite: #fff !default;
$shadow: 0 0 24px -4px rgba(0, 0, 0, 0.12) !default;
$font-color-1: rgba(0,0,0,0.87) !default;
$font-color-2: rgba(0,0,0,0.6) !default;
$max-width: 1200px !default;

::-webkit-scrollbar
{
    background-color: #F5F5F5;
    height: 8px;
}

::-webkit-scrollbar-thumb
{
    border-radius: 10px;
	background-color: $accountSilver;
}